.body {
    color: white;
}

.titleMoon {
    font-family: 'Anton', sans-serif;
    letter-spacing: 8px;
    color: #eefffd;
}

.imgLogo {
    z-index: 2;
}

.moonpadding {
    padding-left: 7%;
}

.moonAjust {
    padding-left: 5%;
}

@media (max-width: 991px) {
    .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-10 {
        padding-left: 15%;
    }
}